<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lingo</title>
<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="style.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
</head>
<body>
	<div>
		<div class="main column">
			<div class="header row">Lingo</div>
			<div class="body row nofooter">
				<div id="usernameDiv" class="form">
					<h2>What is your name?</h2>
					<input id="nicknameInput" type="text" class="form-control" maxlength="16">
					<p id="usernameError" class="error-message"></p>
				</div>
				<div id="appDiv" class="hidden">
					<div id="lobbyColumn" class="lobby column primary">
						<div id="vue-app" class="body row noheader nofooter scroll-y">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Games</h3>
								</div>
								<div class="list-group">
									<div v-if="games.length === 0" class="list-group-item">
										There are no games.
									</div>
									<div v-for="game in games">
										<div v-if="game.started" v-bind:id="'game-' + game.id" class="list-group-item">
											<strong>{{ game.playerOne }}</strong>
											is playing with
											<strong>{{ game.playerTwo }}</strong>
										</div>
										<button v-else v-bind:id="'game-' + game.id" @click="joinGame" type="button" class="list-group-item">
											<strong>{{ game.playerOne }}</strong>
											wants to play
										</button>
									</div>
								</div>
							</div>
							<button v-if="inGame" @click="leaveGame" type="button">Leave game</button>
							<button v-else @click="hostGame" type="button">Create a game</button>
						</div>
					</div>
					<div id="gameColumn" class="game column">
						<div class="body row noheader nofooter">
							<div id="canvasDiv" class="hidden">
								<canvas id="canvas" class="centered" width="600" height="475" tabindex="1"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="chat column">
			<div class="header row">Chat</div>
			<div id="messageList" class="body row scroll-y"></div>
			<div class="footer row">
				<textarea id="messageInput" placeholder="Send a message" tabindex="2"></textarea>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="client.js"></script>
</body>
</html>
