/* Generic layout rules */

body {
	margin: 0;
}

.row, .column {
	overflow: hidden;
	position: absolute;
}

.row {
	left: 0;
	right: 0;
}

.column {
	top: 0;
	bottom: 0;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

/* Specific layout rules */

.main.column {
	left: 0;
	right: 300px;
}

.chat.column {
	width: 300px;
	right: 0;
}

.header.row {
	height: 75px;
	line-height: 75px;
}

.body.row {
	top: 75px;
	bottom: 50px;
}

.body.row.nofooter {
	bottom: 0;
}

.body.row.noheader {
	bottom: 0;
}

.footer.row {
	height: 50px;
	bottom: 0;
	line-height: 50px;
}

.header {
	font-size: 1.4em;
	color: #eee;
	background: #696f77;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding: 0 0.5em;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #696f77),
		color-stop(100%, #28343b));
	background: -webkit-linear-gradient(top, #696f77 0%, #28343b 100%);
	background: -ms-linear-gradient(top, #696f77 0%, #28343b 100%);
}

.body {
	background: #ddd
}

.chat.column {
	border-left: 1px solid black;
}

.chat.column .body {
	padding: 0 10px;
}
