canvas {
	display: block;
	margin: 0 auto;
}

#skipDiv {
	margin-top: 20px;
	text-align: center
}

#skipButton {
	width: 200px;
	font-size: 28px;
	font-variant: small-caps;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 10px;
	border: none;
}

.hidden {
	display: none;
}
